[submodule "backend"]
	path = backend
	url = https://github.com/Esternit/TraceabilityMatrixBackend
[submodule "frontend"]
	path = frontend
	url = https://github.com/Esternit/TraceabilityMatrixFrontend
